

/* For devices with width of 480px and less, like phones */
@media only screen and (max-width: 480px) {

    body {

        background-color:red;
        
        }
        


} 

/* For devices with width between 481px and 768px, like larger phones and portrait tablets */
@media only screen and (min-width: 481px) {


    body {

        background-color:aqua;
        
        }
        


} 

/* For devices with width between 769px and 1279px, like landscape tablets and laptops */
@media only screen and (min-width: 769px) {

    body {

        background-color:green;
        
        }
        


} 

/* For devices with width of 1280px and more, like desktop computers */
@media only screen and (min-width: 1280px) {


    body {

        background-color:white;
        
        }
        
}